.layout-footer {
  transition: margin-left $transitionDuration;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  border-top: 1px solid var(--surface-border);

  img {
    filter: invert(38%) sepia(8%) saturate(4365%) hue-rotate(165deg) brightness(96%) contrast(90%);
  }
}
